@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-image {
  @apply relative bg-fixed bg-center bg-cover;
  background-image: url('/visningssenter_for_fiskeindustri.png');
  z-index: 10; /* Ensure the overlay is below the content */

}

.bg-custom-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* White with 50% opacity */
  z-index: -5; /* Ensure the overlay is below the content */
  
}